/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 9, 2019, 4:37:55 PM
    Author     : Usha Rani
*/
            .m-n{
                margin:0;
            }
            h4{
                font-size: 16px;
                font-weight: 600;
            }          
            .wizard-container{
                padding-top:0px;
            }
            .wizard-card .wizard-header{
                padding:0px;
            }
            /*Toggle Button Css*/
            .onoffswitch {
                position: relative;
                width: 76px;
                -webkit-user-select:none;
                -moz-user-select:none;
                -ms-user-select: none;
            }
            .onoffswitch-checkbox {
                display: none;
            }
            .onoffswitch-label {
                display: block;
                overflow: hidden;
                cursor: pointer;
                border: 2px solid #27A1CA;
                border-radius: 0px;
            }
            .onoffswitch-inner {
                display: block; width: 200%; margin-left: -100%;
                -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
                -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
            }

            .onoffswitch-inner:before, .onoffswitch-inner:after {
                display: block; float: left; width: 50%; height: 22px; padding: 0; line-height: 20px;
                font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
                -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
                border: 2px solid transparent;
                background-clip: padding-box;
            }

            .onoffswitch-inner:before {
                content: 'Yes';
                padding-left: 10px;
                background-color: #FFFFFF; color: #27A1CA;
            }

            .onoffswitch-inner:after {
                content: 'No';
                padding-right: 10px;
                background-color: #FFFFFF; color: #666666;
                text-align: right;
            }

            .onoffswitch-switch {
                display: block; width: 25px; margin: 0px;
                background: #27A1CA;
                position: absolute; top: 0; bottom: 0; right: 49px;
                -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
                -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
            }

            .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
                margin-left: 0;
            }

            .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
                right: 0px; 
            }
            .wizard-card[data-color="red"] .moving-tab {
                background-color: #f44336;
                box-shadow: 0 16px 26px -10px rgba(244, 67, 54, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
            }
            .switch {
                position: relative;
                display: inline-block;
                width: 90px;
                height: 34px;
            }
            .switch input {display:none;}
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ca2222;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 34px;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 50%;
            }

            input:checked + .slider {
                background-color: #2ab934;
            }

            input:focus + .slider {
                box-shadow: 0 0 1px #2196F3;
            }
            input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(55px);
            }
            /*------ ADDED CSS ---------*/
            .slider:after
            {
                content:'YES';
                color: white;
                display: block;
                position: absolute;
                transform: translate(-50%,-50%);
                top: 50%;
                left: 50%;
                font-size: 10px;
                font-family: Verdana, sans-serif;
            }
            input:checked + .slider:after
            {  
                content:'NO';
            }              

            .searchbar>li>a .form-control {
                margin-top: -30px;
            }
            .title{
                color: white;
            }
            .container {
                   width: 1267px;
    margin-left: -25px;
            }
            .form-group label.control-label {   
                color: black;  
            }
            .container input {  
                opacity: inherit;  
            }
            .form-control {
                width: 330px;
            }
            /*UpLoad File*/
            body
            {
                background-color:#f5f5f5;
            }
            .imagePreview {
                width: 75%;
                height: 75px;
                background-position: center center;
                background:url(F);
                background-color:#fff;
                background-size: cover;
                background-repeat:no-repeat;
                display: inline-block;
                box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
            }
            .btn-primary
            {
                display:block;
                border-radius:0px;
                box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
                margin-top: 2px;
                width: 165px;
            }
            .imgUp
            {
                margin-bottom:15px;
            }
            .del
            {
                position:absolute;
                top:0px;
                right: 70px;
                width:30px;
                height:30px;
                text-align:center;
                line-height:30px;
                background-color:rgba(255,255,255,0.6);
                cursor:pointer;
            }
            .imgAdd
            {
                width:30px;
                height:30px;
                border-radius:50%;
                background-color:#4bd7ef;
                color:#fff;
                box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
                text-align:center;
                line-height:30px;
                margin-top:0px;
                cursor:pointer;
                font-size:15px;
            } 
            /*Two Buttons(Preview & Next)*/
            .wizard-card .wizard-footer {
                padding: 0px 134px;
                padding-bottom: 50px;
            }
            .t1{
                margin-left: -140px;
            }

            .preview-images-zone {
                width: 432px;
                border: 1px solid #ddd;
                min-height: 106px;
                /* display: flex; */
                padding: 5px 5px 0px 5px;
                position: relative;
                overflow: auto;
            }
            .preview-images-zone > .preview-image:first-child {
                height: 100px;
                width: 100px;
                position: relative;
                margin-right: 5px;
            }
            .preview-images-zone > .preview-image {
                height: 100px;
                width: 100px;
                position: relative;
                margin-right: 5px;
                float: left;
                margin-bottom: 5px;
            }
            .preview-images-zone > .preview-image > .image-zone {
                width: 100%;
                height: 100%;
            }
            .preview-images-zone > .preview-image > .image-zone > img {
                width: 100%;
                height: 100%;
            }
            .preview-images-zone > .preview-image > .tools-edit-image {
                position: absolute;
                z-index: 100;
                color: #fff;
                bottom: 0;
                width: 100%;
                text-align: center;
                margin-bottom: 10px;
                display: none;
            }
            .preview-images-zone > .preview-image > .image-cancel {
                font-size: 18px;
                position: absolute;
                top: 0;
                right: 0;
                font-weight: bold;
                margin-right: 10px;
                cursor: pointer;
                display: none;
                z-index: 100;
            }
            .preview-image:hover > .image-zone {
                cursor: move;
                opacity: .5;
            }
            .preview-image:hover > .tools-edit-image,
            .preview-image:hover > .image-cancel {
                display: block;
            }
            .ui-sortable-helper {
                width: 90px !important;
                height: 90px !important;
            }

            .container {
                padding-top: 50px;
            }
            h4{
                margin-top: 2px;
            }
            .container input {  
    cursor: auto;
}
    
