/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 May, 2019, 11:23:26 AM
    Author     : Gopi Krishna Y
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700');
.bg-image {                
    background-image: url('../common_images/login_bg.jpg');
    position: fixed;                 
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.login {

    position: absolute;
    top: 50%;
    left: 50%;
    /*opacity:0.8;*/
    transform: translate(-50%, -50%);
    width: 450px;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.login h2 {
    margin: 0 0 40px;
    padding: 0;
    color: #2b2bb9;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.form-group{
    margin-bottom: 25px;   
}

.form-group:nth-child(3){
    margin-bottom: 15px;   
}
.login input {
    padding: 4px 0px;

}
.login select {
    padding: 6px 0px;
    resize: none;
}

.login input[type=text],.login input[type=password], .login select {
    width: 100%;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid #ddd;               

}

.login form div {
    position: relative;
}

.login form label {
    position: absolute;
    top: 10px;
    pointer-events: none;
    color: #736e6e;
    transition: 0.4s;
    left: 0;
    font-weight: 500;
}

.login input:focus ~ label, .login input:valid ~ label, .login select:focus ~ label, .login select:valid ~ label
{
    top: -15px;
    color: #1E90FF;
    font-size: 12px;
}

.bar{
    position: relative;
    display: block;
}
.bar::before, .bar::after{
    content: "";
    width:0;
    bottom: 0px;
    height:2px;
    background: #2b2bb9;
    position: absolute;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;

}
.bar::before{
    left:50%;
}
.bar::after{
    right:50%;
}

.login input:focus ~ .bar::before, .login input:focus ~ .bar::after,
.login select:focus ~ .bar::before, .login select:focus ~ .bar::after
{
    width: 50%;
}
.footer {
    font-size: 11px;
    position: absolute;
    bottom: -31px;
    right: 63px;
    color: #f1f1ff;
    text-align: center;
    left: 68px;
}
.btn-info1{
    background: #2b2bb9;
    border-color: #2b2bb9;
    color:#fff;
}
.btn-info1:hover,btn-info1:focus{
    background: #5d5de5;
    border-color: #5d5de5;
     color:#fff;
}
.p-l-sm{
    padding-left:10px;
}
.m-t-md{
    margin-top:20px;
}

/*Check Boxes*/

/*Check Box -1*/
.check_1{
    position: relative;
    top:0;
    height: 22px;
    width:22px;
    -webkit-appearance: none; 
    transition: 0.5s;
    border-bottom: none;
    margin-right:10px;
    cursor: pointer;
}
.check_1:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border:2px solid #000;
    box-sizing: border-box;
    transition: 0.5s;


}
.check_1:focus{
    outline: none !important; 
}
.check_1:checked:before{

    border-left: none;
    border-top: none;
    width: 12px;
    border-color: blue;
    transform: rotate(45deg) translate(5px, -10px);

}

@media screen and (max-width:600px){
    .footer{
        width:100%;
        left:0;
        text-align: center;
    }
    .login {
        width: 95%;
        margin:auto;
    }

}

